@use '../Utilities/Font_Properties/Fonts' as font;
@use '../Utilities/Font_Properties/Font_Sizes' as font_size;
@use '../Utilities/Font_Properties/Font_Properties' as font_properties;

@use '../Utilities/Common/Colors' as color;

@use '../Utilities/Mixins/Mixins' as *;

::placeholder{
    @include text(font.$Montserrat, font_size.$Small, color.$Inmersive_Blue_Black);
}

::selection{
    background-color: color.$Inmersive_Blue_Black;
    color: color.$White;
}

::-webkit-scrollbar{
    display: none;
}