@use '../Utilities/Font_Properties/Fonts'as font;
@use '../Utilities/Font_Properties/Font_Sizes'as font_size;
@use '../Utilities/Font_Properties/Font_Properties'as font_properties;
@use '../Utilities/Common/Colors'as color;
@use '../Utilities/Mixins/Mixins'as *;

.center {
    display: grid;
    place-content: center;
}

.flexSB {
    display: flex;
    justify-content: space-between;
}

.mt-8 {
    margin-top: 6em;
}

#map {
    width: 50%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
}

.img-thumbnail {
    width: 17em;
    width: 17em;
    border-radius: 0;
}

.important {
    color: color.$Inmersive_Red;
}

.paginationBttns {
    width: 100%;
    height: auto;
    height: auto;
    list-style: none;
    display: flex;
    justify-content: center;

    a {
        margin: .2em;
        padding: .5em;
        border-radius: .5em;
        border: 1px solid color.$Inmersive_Blue_Black;
        color: color.$Inmersive_Blue_Black;

        &:hover {
            color: color.$Inmersive_Blue_Black;
            background-color: color.$Empowered_Yellow;
            font-weight: bolder;
        }

        &:active {
            color: color.$Inmersive_Blue_Black;
            background-color: color.$Empowered_Yellow;
        }

        &:disabled {
            background-color: transparent;
        }
    }

}

.badge-link {
    font-size: .7em;
    background-color: color.$Empowered_Yellow;
    color: color.$Inmersive_Blue_Black;
    text-decoration: none;
}

.swal2-title {
    font-size: 1.5em;
}

.swal2-text {
    font-size: 1em;
}