@use '../Utilities/Font_Properties/Fonts'as font;
@use '../Utilities/Font_Properties/Font_Sizes'as font_size;
@use '../Utilities/Font_Properties/Font_Properties'as font_properties;
@use '../Utilities/Common/Colors'as color;
@use '../Utilities/Mixins/Mixins'as *;

.center {
    display: grid;
    place-content: center;
}

.flexSB {
    display: flex;
    justify-content: space-between;
}

.mt-8 {
    margin-top: 6em;
}

#map {
    width: 50%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
}

.img-thumbnail {
    width: 17em;
    width: 17em;
    border-radius: 0;
}

.important {
    color: color.$Inmersive_Red;
}

