@use '../../../../assets/Scss/Utilities/Common/Colors'as color;

@use '../../../../assets/Scss/Utilities/Font_Properties/Fonts'as font;
@use '../../../../assets/Scss/Utilities/Font_Properties/Font_Sizes'as font_size;

@use '../../../../assets/Scss/Utilities/Width_Height/Width_Height'as width_height;

@use '../../../../assets/Scss/Utilities/Margin/Margin'as margin;
@use '../../../../assets/Scss/Utilities/Padding/Padding'as padding;

@use '../../../../assets/Scss/Utilities/Mixins/Mixins'as *;

.tips-left {
    @include width_height(width_height.$w50, width_height.$vh100);
    background-color: color.$Inmersive_Blue_Black;

    h1 {
        @include text(font.$Montserrat, font_size.$Large, color.$White);
        text-align: left;
        letter-spacing: 0;
    }
}

.tips-right {
    @include width_height(width_height.$w50, width_height.$vh100);
    background-image: url('/src/frontend/assets/images/jpg/TipsList.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tips-bottom-home {
    @include width_height(width_height.$w100, width_height.$vh100);
    background-color: color.$Empowered_Yellow;
}

@media only screen and (max-width: 600px) {
    .tips-left {
        @include width_height(width_height.$w100, width_height.$vh25);
        border-bottom-left-radius: 2em;
        border-bottom-right-radius: 2em;

        h1 {
            @include text(font.$Montserrat, font_size.$Medium, color.$White);
            text-align: left;
            letter-spacing: 0;
        }
    }

    .tips-right {
        @include width_height(width_height.$w100, width_height.$vh25);
        background-image: url('/src/frontend/assets/images/jpg/TipsList.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .tips-bottom {
        @include width_height(width_height.$w100, width_height.$vh100);
        background-color: color.$Boundles_Blue;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
    }
}