$Inmersive_Blue_Black:#22414e;
$Boundles_Blue: #286076;
$Sustainable_Green:#00753d;
$Resilent_Turquoise:#009fad;
$Inmersive_Red:#c71700;
$Empowered_Orange:#e6a400;
$Empowered_Yellow:#e3e34f;
$White_Inmersive:#d1d1d1;
$White:#ffffff;

$Facebook:hsl(220, 46%, 48%);
$Google:hsl(5, 69%, 54%);