@use '../../../../assets/Scss/Utilities/Common/Colors'as color;

.spinner {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
  

    &-white {
        border: 10px solid color.$White;
        border-top: color.$White;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

}