@use '../../../../assets/Scss/Utilities/Common/Colors'as color;

@use '../../../../assets/Scss/Utilities/Font_Properties/Fonts'as font;
@use '../../../../assets/Scss/Utilities/Font_Properties/Font_Sizes'as font_size;

@use '../../../../assets/Scss/Utilities/Width_Height/Width_Height'as width_height;

@use '../../../../assets/Scss/Utilities/Margin/Margin'as margin;
@use '../../../../assets/Scss/Utilities/Padding/Padding'as padding;

@use '../../../../assets/Scss/Utilities/Mixins/Mixins'as *;

.resume-left {
    @include width_height(width_height.$w50, width_height.$vh100);
    background-color: color.$Inmersive_Blue_Black;

    h1 {
        @include text(font.$Montserrat, font_size.$Large, color.$White);
        text-align: center;
        letter-spacing: 0;
        padding: 0;
    }
}

.resume-right {
    @include width_height(width_height.$w50, width_height.$vh100);
    background-image: url('/src/frontend/assets/images/jpg/cv.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.resume-bottom {
    @include width_height(width_height.$w100, width_height.$vh100);
    background-color: color.$White;
}


@media only screen and (max-width: 600px) {
    .resume-left {
        @include width_height(width_height.$w100, width_height.$vh20);
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;

        h1 {
            @include text(font.$Montserrat, font_size.$Medium, color.$White);
            text-align: center;
            letter-spacing: 0;
            padding: 0
        }

    }

    .resume-right {
        @include width_height(width_height.$w100, width_height.$vh20);
        background-image: url('/src/frontend/assets/images/jpg/cv.jpg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .resume-bottom {
        @include width_height(width_height.$w100, width_height.$vh50);
        background-color: color.$Boundles_Blue;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        overflow-y: hidden;

        h2 {
            @include text(font.$Montserrat, font_size.$Medium, color.$White);
            text-align: center;
            letter-spacing: 0;
            padding: 0
        }
    }
}