@use '../../../../assets/Scss/Utilities/Common/Colors'as color;

@use '../../../../assets/Scss/Utilities/Font_Properties/Fonts'as font;
@use '../../../../assets/Scss/Utilities/Font_Properties/Font_Sizes'as font_size;

@use '../../../../assets/Scss/Utilities/Width_Height/Width_Height'as width_height;

@use '../../../../assets/Scss/Utilities/Margin/Margin'as margin;
@use '../../../../assets/Scss/Utilities/Padding/Padding'as padding;

@use '../../../../assets/Scss/Utilities/Mixins/Mixins'as *;


.jobs-left {
    @include width_height(width_height.$w50, width_height.$vh100);
    background-color: color.$Inmersive_Blue_Black;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;

    h1 {
        @include text(font.$Montserrat, font_size.$Large, color.$White);
        text-align: left;
        letter-spacing: 0;
    }

}

.jobs-right {
    @include width_height(width_height.$w50, width_height.$vh100);
    background-image: url('/src/frontend/assets/images/jpg/marketjobs.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.jobs-bottom {
    @include width_height(width_height.$w100, width_height.$vh70);
    background-color: color.$Empowered_Yellow;

}

@media only screen and (max-width: 600px) {

    .jobs-left {
        @include width_height(width_height.$w100, width_height.$vh20);
        border-bottom-left-radius: 2em;
        border-bottom-right-radius: 2em;

        h1 {
            @include text(font.$Montserrat, font_size.$Medium, color.$White);
            font-weight: bold;
            text-align: left;
            letter-spacing: 0;
        }
    }

    .jobs-right {
        @include width_height(width_height.$w80, width_height.$vh30);
        @include padding(padding.$Padding1);
        background-image: url('/src/frontend/assets/images/jpg/marketjobs.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .jobs-bottom {
        @include width_height(width_height.$w100, width_height.$vh100);
        background-color: color.$Boundles_Blue;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
    }
}